.tool-bar {
    width: 221px;
    transition: .3s;
    position: relative;
    display: inline-block;
    vertical-align: top;

    &>h5 {
        color: #242424;
        padding: 8px 8px;
        font-size: 14px;
    }

    .fa-angle-double-left {
        position: absolute;
        right: 12px;
        top: 9px;
        font-size: 18px;
    }

    .tool-bar-search {
        position: relative;
        padding: 2px 0 10px 8px;
        width: 100%;
        input {       
            border: solid 1px #bdbdbd;
            border-radius: 3px;
            text-indent: 5px;
            height: 26px;
            width: 80%;
        }
        .icon-group {
            right: 8px;
            width: 20px;
            height: 12px;
            position: absolute;
            border-radius: 3px;
            border: solid 1px #d1d1d1;
            cursor: pointer;
            .fa {
                display: block;
                line-height: 9px;
                text-align: center;
            }
            &:hover {
                opacity: .6;
                .fa {
                    color: #1E90FF;
                }
            }
        }
    }
    
}