<div class="menu-bar">
    <div class="logo-area"></div>
    <ul class="bar-list">
        <li><i class="fa fa-undo"></i></li>
        <li><i class="fa fa-repeat"></i></li>
        <li><i class="fa fa-plus-square-o"></i></li>
        <li><i class="fa fa-print"></i></li>
        <li><i class="fa fa-share-square-o"></i></li>
        <li><i class="fa fa-angle-double-down"></i></li>
    </ul>
    <div class="rigth-icons">
        <i class="fa fa-expand" title="expand" (click)="expand()"></i>
        <i class="fa fa-arrows-alt" title="fullScreen" (click)="doFullScreen()"></i>
    </div>
</div>