::ng-deep {
    h1 {
      font-size: 36px;
      font-weight: 600;
      margin: 20px 0;
    }
  
    h2 {
      font-size: 32px;
      font-weight: 600;
      margin: 30px 0;
    }
  
    h3 {
      font-size: 22px;
      font-weight: 600;
      margin: 30px 0;
    }
  
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin: 30px 0;
    }
    h5 {
      font-size: 1.1rem;
    }
  
    h6 {
      font-size: 1rem;
    }
}
  
/* materialize global css reset for demo puprose */
markdown {
    ::ng-deep {
        p,ol,ul {
          font-family: microsoft yaHei;
          color: #5a5a5a;
        }
        li {
          margin: 12px 0;
        }
        blockquote {
          padding: 0 1em;
          color: rgba(0,0,0,0.535);
          border-left: 0.25em solid rgba(0,0,0,0.11);
        }
  
        table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-bottom: 16px;
  
        th,
        td {
            padding: 6px 13px;
            border: 1px solid #ddd;
  
            &[align="left"] {
            text-align: left;
            }
  
            &[align="center"] {
            text-align: center;
            }
  
            &[align="right"] {
            text-align: right;
            }
        }
  
        tr:nth-child(2n) {
            background-color: rgba(0,0,0,0.03);
        }
        }
  
        ul {
          list-style-type: inherit;
          padding-left: 40px !important;
        }
  
        li {
          list-style-type: inherit;
        }
        
        ol,ul {
          margin: 20px 0 20px 60px;
        }

        ul ul,
        ol ul {
          list-style-type: circle;
        }
    }
}