/* This file is used to cover original primeng styles */

/* accordion */
.ui-accordion {
    .ui-accordion-header {
        margin-top: 0px;
        margin-bottom: 0px !important;
    }
    .ui-accordion-content {
        padding: 0 !important;
    }
}