/* This file is used to cover original primeng styles */

/* accordion */
body {
    .ui-accordion {
        .ui-accordion-header {
            margin-top: 0px;
            margin-bottom: 0px;
            &>a {
                padding: 8px 0 8px 8px;
                user-select: none;
            }
        }
        .ui-accordion-content {
            padding: 0;
        }
    }
    
    .ui-tabview {
        padding: 0;
        .ui-tabview-panels {
            padding: 0;
        }
    }
}