.display-page {
    font-family: 'Courier New', Courier, monospace;
    .scss-div {
        padding-left: 15px; 
        h1 {
            color: #FF0000;
        }
        .scss-div-content {
            padding-left: 24px; 
            line-height: 30px;
            color: #3b3b3b;
            p {
                font-size: 16px;
            }
        }
    }
    h1 {
        line-height: 55px;
        width: 100%;
        font-size: 24px;
    }
    .minxin-div {
        line-height: 60px;
        background-color: #c5c5c5;
        margin-top: 20px;
        .minxin-paragraph {
            font-size: 20px;
        }
    }
}