<section class="main-pages-content display-page">
    <div class="scss-div">
        <h1>scss-div-title</h1>
        <div class="scss-div-content">
            <p>this page is test angular minxin css & scss, and also demo css display property</p>
        </div>
    </div>
    <div class="css-div">
        <h1>css-div-title</h1>
        <div class="css-div-content">
            <p>this page is test angular minxin css & scss, and also demo css display property</p>
        </div>
    </div>
    <div class="minxin-div">
        <article>
            <p class="minxin-paragraph">we will try to use scss that make our work be easy</p>
        </article>
    </div>
</section>