.one-wrapper {
    background: #FF00FF;
    transition: .2s;
    line-height: 120px;
    text-align: center;
    display: inline-block;
}

.only-class {
    width: 100%;
}

.new-class {
    background: #FFD700;
}

.active {
    opacity: .5;
}