<section class="main-pages-content ui-g">
    <div class="ui-g-12" style="padding: 0 20px;">
        <markdown [src]="'assets/md/angular/dom_eg.md'"></markdown>
    </div>
    <div class="ui-g-4 ui-md-3 p16">
        <ul id="JQueryDom" class="cd-accordion-menu"></ul>
    </div>
    <div class="ui-g-8 ui-md-9 pr16">
        <markdown class="variable-binding" [src]="'assets/md/angular/dom_eg1.md'"></markdown>
    </div>
    <div class="ui-g-4 ui-md-3 p16">
        <div #AngularDom></div>
    </div>
    <div class="ui-g-8 ui-md-9 pr16">
        <markdown class="variable-binding" [src]="'assets/md/angular/dom_eg2.md'"></markdown>
    </div>
    <app-dom-child>
        <p class="p16">所以框架都有很多共通点，完全可以按照vue插槽来理解</p>
    </app-dom-child>
</section>
