<section class="my-flow-control">
    <app-flow-menu-bar></app-flow-menu-bar>
    <div class="main-content">
        <app-flow-tool-bar></app-flow-tool-bar>
        <div class="work-area">
            <gojs-diagram #go
                [initDiagram]="init"
                [nodeDataArray]="node"
                [linkDataArray]="link"
                [modelData]="model"
                [skipsDiagramUpdate]="skipsDiagramUpdate"
                (modelChange)="diagramModelChange($event)"
                [divClassName]="diagramDivClassName">
            </gojs-diagram>
        </div>
        <div class="prop-panel">
            <!-- <prop-panel></prop-panel> -->
        </div>
    </div>
    <div class="state-bar">
        <!-- <state-bar></state-bar> -->
    </div>
</section>
<!-- <section>
    <app-palette></app-palette>
    
    <button type="button" class="btn btn-primary" (click)="add()">add path</button>
</section> -->