<section class="my-flow-control">
    <div class="menu-bar">
        <!-- <menu-bar></menu-bar> -->
    </div>
    <div class="main-content">
        <div class="tool-bar">
            <!-- <tool-bar></tool-bar> -->
        </div>
        <div class="work-area">
            <!-- <work-area></work-area> -->
        </div>
        <div class="prop-panel">
            <!-- <prop-panel></prop-panel> -->
        </div>
    </div>
    <div class="state-bar">
        <!-- <state-bar></state-bar> -->
    </div>
</section>
<section>
    <app-palette></app-palette>
    <gojs-diagram #go
        [initDiagram]="init"
        [nodeDataArray]="node"
        [linkDataArray]="link"
        [modelData]="model"
        [skipsDiagramUpdate]="skipsDiagramUpdate"
        (modelChange)="diagramModelChange($event)"
        [divClassName]="diagramDivClassName">
    </gojs-diagram>
    <button type="button" class="btn btn-primary" (click)="add()">add path</button>
</section>