<section class="login">
    <div class="login-main">
        <section>
            <div class="form-control">
                <label for="username">username</label>
                <input id="username" name="username" type="text" placeholder="username">
            </div>
            <div class="form-control">
                <label for="password">password</label>
                <input id="password" name="password" type="text" placeholder="password">
            </div>
            <div class="form-control">
                <button class="login-btn" (click)="login()">login</button>
            </div>
        </section>
    </div>
</section>