<section class="main-pages-content ui-g">
    <div class="ui-g-12" style="padding: 16px 20px; margin-bottom: 20px;">
        <markdown class="variable-binding" [data]="md"></markdown>
    </div>
    <div class="ui-g-12" style="padding: 16px 20px; margin-bottom: 20px;">
        <button pButton type="button" class="mr12" (click)="ChangeWidth()" label="ChangeWidth"></button>
    </div>
    <div class="one-wrapper" style="background-color: #FFFF00;" [style.width.px]="width" [style.height.px]="600" [style.marginLeft.px]="50">angular style template syntax collections</div>
    
    <div class="ui-g-12" style="padding: 16px 20px; margin-bottom: 20px;">
        <markdown class="variable-binding" [data]="md1"></markdown>
    </div>
    <div class="one-wrapper" [class]="onlyClass" [class.new-class]="newClasee" [ngClass]="{'active': isActive}">angular class template syntax collections</div>
</section>
