<div class="table-responsive">
    <table class="table mb-0 table-borderless">
        <thead>
            <tr>
                <th scope="col">Package No.</th>
                <th scope="col">Date</th>
                <th scope="col">Delivery</th>
                <th scope="col">Status</th>
                <th scope="col">Location</th>
                <th scope="col">Progress</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#0879985</td>
                <td>26/12/2019</td>
                <td>30/12/2019</td>
                <td>
                    <div class="badge badge-pill badge-success">Moving</div>
                </td>
                <td>Victoria 8007 Australia</td>
                <td>
                    <div class="iq-progress-bar">
                        <span class="bg-success"
                            style="width: 90%;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#0879984</td>
                <td>23/12/2019</td>
                <td>27/12/2019</td>
                <td>
                    <div class="badge badge-pill badge-warning text-white">Pending</div>
                </td>
                <td>Athens 2745 Greece</td>
                <td>
                    <div class="iq-progress-bar">
                        <span class="bg-warning"
                            style="width: 70%;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#0879983</td>
                <td>18/12/2019</td>
                <td>21/12/2019</td>
                <td>
                    <div class="badge badge-pill badge-danger">Canceled</div>
                </td>
                <td>Victoria 8007 Australia</td>
                <td>
                    <div class="iq-progress-bar">
                        <span class="bg-danger"
                            style="width: 48%;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>#0879982</td>
                <td>14/12/2019</td>
                <td>20/12/2019</td>
                <td>
                    <div class="badge badge-pill badge-info">Working</div>
                </td>
                <td>Delhi 0014 India</td>
                <td>
                    <div class="iq-progress-bar">
                        <span class="bg-info"
                            style="width: 90%;"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>