<ul class="iq-timeline">
    <li>
        <div class="timeline-dots"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
        </div>
    </li>
    <li>
        <div class="timeline-dots border-success"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
        </div>
    </li>
    <li>
        <div class="timeline-dots border-danger"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans <a href="#">gummi bears</a> gummi bears jelly lollipop apple</p>
        </div>
    </li>
    <li>
        <div class="timeline-dots border-primary"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
        </div>
    </li>
    <li>
        <div class="timeline-dots border-info"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
        </div>
    </li>
    <li>
        <div class="timeline-dots border-info"></div>
        <h6 class="float-left mb-1">Client Meeting</h6>
        <small class="float-right mt-1">19 November 2019</small>
        <div class="d-inline-block w-100">
            <p>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</p>
        </div>
    </li>
</ul>