<section class="my-flow-control">
    <app-flow-menu-bar></app-flow-menu-bar>
    <div class="main-content">
        <app-flow-tool-bar></app-flow-tool-bar>
        <app-workarea></app-workarea>
        <div class="prop-panel"></div>
    </div>
    <div class="state-bar"></div>
    <!-- <div style="width: 100%; display: flex; justify-content: space-between">
        <div id="myPaletteDiv"
            style="width: 105px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black">
        </div>
        <div id="myDiagramDiv" style="flex-grow: 1; height: 620px; border: solid 1px black"></div>
    </div>
    <button type="button" (click)="test()">test</button> -->

</section>