<section>
    <!-- <gojs-diagram #myDiagram
        [initDiagram]="initDiagram"
        [nodeDataArray]="diagramNodeData"
        [linkDataArray]="diagramLinkData"
        [modelData]="diagramModelData"
        [skipsDiagramUpdate]="skipsDiagramUpdate"
        (modelChange)="diagramModelChange($event)"
        [divClassName]="diagramDivClassName">
    </gojs-diagram> -->
    <!-- <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="addNode()">add</button>
        </div>
    </div> -->
    <app-test-diagram></app-test-diagram>
    <!-- <app-palette></app-palette> -->
    <!-- <app-overview></app-overview> -->
</section>