<div class="work-area" [style.width.px]="WH">
    <div class="save-btn">
        <button pButton pRipple type="button" label="Save" 
            class="p-button-raised p-button-text" (click)="saveDia()"></button>
    </div>
    <p-tabView styleClass="work-area-tab" [controlClose]="true">
        <p-tabPanel [header]="flowName" leftIcon="fa fa-file-text-o" [closable]="true">
            <app-ruler></app-ruler>
            <div WorkareaDragScrolling class="diagram-wrap" [style.height.px]="MH">
                <gojs-diagram #go
                    [initDiagram]="init.bind(this)"
                    [nodeDataArray]="node"
                    [linkDataArray]="link"
                    [modelData]="model"
                    [skipsDiagramUpdate]="skipsDiagramUpdate"
                    (modelChange)="diagramModelChange($event)"
                    [divClassName]="diagramDivClassName">
                </gojs-diagram>
                <!-- <app-bmpn-workarea></app-bmpn-workarea> -->
                <!-- <div id="myOverviewDiv"></div> -->
            </div>
        </p-tabPanel>
    </p-tabView>
</div>