/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p, ul, li, h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.ib {
    display: inline-block;
}

.block {
    display: block;
}

.p10 {
    padding: 10px;
}

.hidden {
    display: none !important;
}
.show {
    display: block !important;
}