@import '~font-awesome/css/font-awesome.min.css';

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p, ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

body {
    &::-webkit-scrollbar {
    	width: 6px;
    }
    &::-webkit-scrollbar-thumb {
    	border-radius: 4px;
		// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
		background-color: #6487e6;
    }
}

article {
    > p {
        padding-left: 24px;
    }
}

p {
    font-size: 14px;
    font-family: Microsoft YaHei;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.ib {
    display: inline-block;
}

.block {
    display: block;
}

.font12 {
    font-size: 12px;
}

.lht26 {
    line-height: 26px;
}

.p10 {
    padding: 10px;
}

.p16 {
    padding: 16px;
}

.pr16 {
    padding-right: 16px !important; 
}

.m16 {
    margin: 16px !important;
}

.mt12 {
    margin-top: 12px;
}

.mt16 {
    margin-top: 16px !important;
}

.mr12 {
    margin-right: 12px !important;
}

.hidden {
    display: none !important;
}
.show {
    display: block !important;
}

.title-border {
    border-left: solid 3px #FF0000;
    padding-left: 16px;
    margin-bottom: 24px;
}

/* coverage other lib */
button:focus {
    border-color: rgb(85, 102, 255);
    background-color: rgb(85, 102, 255);
    color: #FFF;
}